// Dark
$color-background-card-dark: #0E131F;

// Light
$color-background-card-light: #B9C4DF;

// Icons
$icon-search-light: 'https://firebasestorage.googleapis.com/v0/b/todovue-blog.appspot.com/o/icons%2Fsearch-light.svg?alt=media&token=398b1f34-9376-4aa3-86ed-cfd040bf080b';
$icon-search: 'https://firebasestorage.googleapis.com/v0/b/todovue-blog.appspot.com/o/icons%2Fsearch.svg?alt=media&token=a3ebec80-8cfe-4ea5-b8ab-defa440c9a23';

// Fonts
$font-family-text: 'Lato', sans-serif;
$font-family-title: 'Kanit', sans-serif;
